/* Main content styles */
.main-content {
  margin-left: 220px; /* Sidebar width + spacing */
  margin-top: 60px; /* Topbar height */
  padding: 20px;
  width: calc(100% - 220px);
}
/* General styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #aaa;
}

.app {
  display: flex;
  height: 100vh;
}
