/* Stijlen voor de loginpagina */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Stijlen voor de login popup */
.login-button-container {
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
